image: ubuntu:18.04

stages:
  - build
  - unit_tests

build:
  stage: build
  artifacts:
    paths: 
      - code/bin
  script:
    - apt-get update
    - DEBIAN_FRONTEND=noninteractive apt-get install -y g++ cmake libopenmpi-dev libblas-dev liblapack-dev git libvtk7.1 ninja-build
    - git submodule update --init --recursive
    - cd code/build/debug
    - cmake -G Ninja -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=True -DCMAKE_EXPORT_COMPILE_COMMANDS=True ../../
    - ninja

unit_tests:
  stage: unit_tests
  dependencies:
    - build
  script:
    - ./code/bin/unit_tests
