image: rtsn/test:latest

stages:
  - unit_tests

unit_tests:
  stage: unit_tests
  script:
    - git submodule update --init --recursive
    - cd code/build/release
    - cmake -G Ninja -DCMAKE_BUILD_TYPE=Release ../../
    - ninja
    - ninja test
  timeout: 2h
  only:
    refs:
      - develop
      - master
      - merge_requests
    changes:
      - "code/include/**/*"
      - "code/tests/**/*"
      - "code/src/**/*"
      - "code/CMakeLists.txt"
      - "scripts/Dockerfile"
      - ".gitmodules"
