[submodule "ext/spdlog"]
	path = ext/spdlog
	url = git://github.com/gabime/spdlog.git
[submodule "ext/Catch2"]
	path = ext/Catch2
	url = git://github.com/catchorg/Catch2.git
[submodule "ext/blaze"]
	path = ext/blaze
	url = https://bitbucket.org/blaze-lib/blaze.git
[submodule "ext/cppflow"]
	path = ext/cppflow
	url = https://github.com/serizba/cppflow.git
