[submodule "code/ext/sphericalquadpy"]
	path = code/ext/sphericalquadpy
	url = git://github.com/camminady/sphericalquadpy.git
[submodule "code/ext/cpptoml"]
	path = code/ext/cpptoml
	url = git://github.com/skystrife/cpptoml.git
[submodule "code/ext/spdlog"]
	path = code/ext/spdlog
	url = git://github.com/gabime/spdlog.git
[submodule "code/ext/Catch2"]
	path = code/ext/Catch2
	url = git://github.com/catchorg/Catch2.git
[submodule "code/ext/blaze"]
	path = code/ext/blaze
	url = https://bitbucket.org/blaze-lib/blaze.git
